In [2]:
import sys
try:
  import google.colab
  IN_COLAB = True
except:
  IN_COLAB = False

if IN_COLAB:
    # montar el drive, que es donde tenemos el dataset
    from google.colab import drive 
    drive.mount("/content/drive")
    data_dir = "/content/drive/MyDrive/Colab Notebooks/pandas/"  
    sys.path.append(data_dir)
else:
    import os
    data_dir = os.path.dirname(__file__) + "/"

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np

In [4]:
filename = data_dir + "canarias.csv"
df = pd.read_csv(filename, delimiter="\t", decimal=",")
df

                Isla                     Capital     Área  Población
0          El Hierro                    Valverde   268.71      11147
1  Fuerteventuranota          Puerto del Rosario  1665.74     119732
2       Gran Canaria  Las Palmas de Gran Canaria  1560.10     855521
3          La Gomera  San Sebastián de La Gomera   369.76      21678
4      Lanzarotenota                    Arrecife   888.07     155812
5           La Palma      Santa Cruz de La Palma   708.32      83458
6           Tenerife      Santa Cruz de Tenerife  2034.38     928604

In [6]:
dfl = pd.read_html("https://es.wikipedia.org/wiki/Canarias")
df = dfl[9]
print(df.columns)
df = df.drop(["Bandera", "Escudo"], axis=1)
df.columns = ['Isla', 'Municipios',   'Capital', 'Área', 'Población']

df["Área"] = df["Área"].str.replace(",", ".").str.extract(r'(^[.0-9]+)').astype(float)
df

#df['Población'] = df['Población'].str.extract(r'([0-9]+)')

s1 = df['Población']
print(s1.iloc[0])
print(ord(s1.iloc[0][2]))
c = s1.iloc[0][2]
df['Población'] = df['Población'].str.replace(c, "")
df['Población'] = df['Población'].str.extract(r'([0-9]+)').astype(float)
df["Isla"] = df["Isla"].str.extract(r'([^\[]*)')
df["Provincia"] = ["SCTF", "LPGC", "LPGC", "SCTF", "LPGC", "SCTF", "SCTF"]
df
#df.columns = ["Isla", "n1", "n2", "Municipios", "Capital", "Área", "Población"]
#df.drop(["Bandera", "Escudo"])

Index(['Isla con administración propia', 'Bandera', 'Escudo', 'Municipios',
       'Capital', 'Área (km²)', 'Población (2020)[18]​'],
      dtype='object')
11 147
160

,Isla,Municipios,Capital,Área,Población,Provincia
0,El Hierro,3,Valverde,26871.00,11147.0,SCTF
1,Fuerteventura,6,Puerto del Rosario,1665.74,119732.0,LPGC
2,Gran Canaria,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC
3,La Gomera,6,San Sebastián de La Gomera,36976.00,21678.0,SCTF
4,Lanzarote,7,Arrecife,888.07,155812.0,LPGC
5,La Palma,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF
6,Tenerife,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF

In [7]:
df["Isla"]

0        El Hierro
1    Fuerteventura
2     Gran Canaria
3        La Gomera
4        Lanzarote
5         La Palma
6         Tenerife
Name: Isla, dtype: object

In [8]:
df = df.reset_index()
df = df.set_index("Isla")
df.loc["Gran Canaria":"La Palma", "Capital":"Población"]

                                 Capital       Área  Población
Isla
Gran Canaria  Las Palmas de Gran Canaria  156010.00   855521.0
La Gomera     San Sebastián de La Gomera   36976.00    21678.0
Lanzarote                       Arrecife     888.07   155812.0
La Palma          Santa Cruz de La Palma   70832.00    83458.0

In [13]:
df.iloc[0:3, 0:2]

            Isla  index
0      El Hierro      0
1  Fuerteventura      1
2   Gran Canaria      2

In [9]:
df = df.reset_index()
df

,Isla,index,Municipios,Capital,Área,Población,Provincia
0,El Hierro,0,3,Valverde,26871.00,11147.0,SCTF
1,Fuerteventura,1,6,Puerto del Rosario,1665.74,119732.0,LPGC
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC
3,La Gomera,3,6,San Sebastián de La Gomera,36976.00,21678.0,SCTF
4,Lanzarote,4,7,Arrecife,888.07,155812.0,LPGC
5,La Palma,5,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF
6,Tenerife,6,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF

In [10]:
mascara = df["Municipios"] > 6
mascara
df[mascara]
df[df["Municipios"] > 6]
df.query("Municipios > 6")

,Isla,index,Municipios,Capital,Área,Población,Provincia
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC
4,Lanzarote,4,7,Arrecife,888.07,155812.0,LPGC
5,La Palma,5,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF
6,Tenerife,6,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF

In [11]:
mascara = df["Provincia"].isin(["SCTF"])
mascara

0     True
1    False
2    False
3     True
4    False
5     True
6     True
Name: Provincia, dtype: bool

In [14]:
s = pd.Series(data=["ibiza", "asd", "asd", 5, 3, 7 , "????"], index=df.columns, name="pepe")
s
df = df.append(s)
df
df = df.drop(index="pepe")
df

,Isla,index,Municipios,Capital,Área,Población,Provincia
0,El Hierro,0,3,Valverde,26871.00,11147.0,SCTF
1,Fuerteventura,1,6,Puerto del Rosario,1665.74,119732.0,LPGC
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC
3,La Gomera,3,6,San Sebastián de La Gomera,36976.00,21678.0,SCTF
4,Lanzarote,4,7,Arrecife,888.07,155812.0,LPGC
5,La Palma,5,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF
6,Tenerife,6,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF

In [15]:
df["viento"] = [1,2,3,4,5,6,7]
df
df = df.drop(columns="viento")
df

,Isla,index,Municipios,Capital,Área,Población,Provincia
0,El Hierro,0,3,Valverde,26871.00,11147.0,SCTF
1,Fuerteventura,1,6,Puerto del Rosario,1665.74,119732.0,LPGC
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC
3,La Gomera,3,6,San Sebastián de La Gomera,36976.00,21678.0,SCTF
4,Lanzarote,4,7,Arrecife,888.07,155812.0,LPGC
5,La Palma,5,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF
6,Tenerife,6,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF

In [16]:
import datetime
df["Fvisita"] = ["1/12/2023","13/1/2023","1/12/2022","1/1/2023","12/12/2023","1/12/2020","1/12/2022",]
df
df["Fvisita"]=pd.to_datetime(df["Fvisita"])
df
df["year"] = df["Fvisita"].dt.year
df["Fvisita"].dt.month == 1 
df

,Isla,index,Municipios,Capital,Área,Población,Provincia,Fvisita,year
0,El Hierro,0,3,Valverde,26871.00,11147.0,SCTF,2023-01-12,2023
1,Fuerteventura,1,6,Puerto del Rosario,1665.74,119732.0,LPGC,2023-01-13,2023
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC,2022-01-12,2022
3,La Gomera,3,6,San Sebastián de La Gomera,36976.00,21678.0,SCTF,2023-01-01,2023
4,Lanzarote,4,7,Arrecife,888.07,155812.0,LPGC,2023-12-12,2023
5,La Palma,5,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF,2020-01-12,2020
6,Tenerife,6,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF,2022-01-12,2022

In [17]:
df = df.reset_index()
df = df.set_index("Fvisita")
df.loc["2022"]
df.loc["2020":"2022"]
df = df.reset_index()

<ipython-input-17-33da4421ffb4>:4: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df.loc["2020":"2022"]

In [18]:

mask = pd.to_datetime("today").year - df["Fvisita"].dt.year < 2
df.loc[mask, "Vreciente"] = "Hace poco"
mask = ~mask
df.loc[mask, "Vreciente"] = "Hace bastante"
df

,Fvisita,level_0,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
0,2023-01-12,0,El Hierro,0,3,Valverde,26871.00,11147.0,SCTF,2023,Hace poco
1,2023-01-13,1,Fuerteventura,1,6,Puerto del Rosario,1665.74,119732.0,LPGC,2023,Hace poco
2,2022-01-12,2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC,2022,Hace poco
3,2023-01-01,3,La Gomera,3,6,San Sebastián de La Gomera,36976.00,21678.0,SCTF,2023,Hace poco
4,2023-12-12,4,Lanzarote,4,7,Arrecife,888.07,155812.0,LPGC,2023,Hace poco
5,2020-01-12,5,La Palma,5,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF,2020,Hace bastante
6,2022-01-12,6,Tenerife,6,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF,2022,Hace poco

In [19]:
df = df.drop("Vreciente", axis=1)
mask1 = pd.to_datetime("today").year - df["Fvisita"].dt.year < 2
mask2 = ~mask1
df["Vreciente"] = np.select([mask1, mask2], ["Hace poco", "Hace bastante"])
df

,Fvisita,level_0,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
0,2023-01-12,0,El Hierro,0,3,Valverde,26871.00,11147.0,SCTF,2023,Hace poco
1,2023-01-13,1,Fuerteventura,1,6,Puerto del Rosario,1665.74,119732.0,LPGC,2023,Hace poco
2,2022-01-12,2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC,2022,Hace poco
3,2023-01-01,3,La Gomera,3,6,San Sebastián de La Gomera,36976.00,21678.0,SCTF,2023,Hace poco
4,2023-12-12,4,Lanzarote,4,7,Arrecife,888.07,155812.0,LPGC,2023,Hace poco
5,2020-01-12,5,La Palma,5,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF,2020,Hace bastante
6,2022-01-12,6,Tenerife,6,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF,2022,Hace poco

In [20]:
from pandas.api.types import CategoricalDtype
df["Vreciente"].astype("category")
visita_cat = CategoricalDtype(categories = ['Nunca', 'Hace bastante', 'Hace poco'], ordered=True)
df["Vreciente"].astype(visita_cat)
df

,Fvisita,level_0,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
0,2023-01-12,0,El Hierro,0,3,Valverde,26871.00,11147.0,SCTF,2023,Hace poco
1,2023-01-13,1,Fuerteventura,1,6,Puerto del Rosario,1665.74,119732.0,LPGC,2023,Hace poco
2,2022-01-12,2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC,2022,Hace poco
3,2023-01-01,3,La Gomera,3,6,San Sebastián de La Gomera,36976.00,21678.0,SCTF,2023,Hace poco
4,2023-12-12,4,Lanzarote,4,7,Arrecife,888.07,155812.0,LPGC,2023,Hace poco
5,2020-01-12,5,La Palma,5,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF,2020,Hace bastante
6,2022-01-12,6,Tenerife,6,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF,2022,Hace poco

In [22]:
pd.cut(df["Población"], 3)
pd.cut(df["Población"], 3, labels=["Poca", "Media", "Bastante"])

0        Poca
1        Poca
2    Bastante
3        Poca
4        Poca
5        Poca
6    Bastante
Name: Población, dtype: category
Categories (3, object): ['Poca' < 'Media' < 'Bastante']

In [23]:
df.sort_values(by=["Provincia" , "Población" ])

,Fvisita,level_0,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
1,2023-01-13,1,Fuerteventura,1,6,Puerto del Rosario,1665.74,119732.0,LPGC,2023,Hace poco
4,2023-12-12,4,Lanzarote,4,7,Arrecife,888.07,155812.0,LPGC,2023,Hace poco
2,2022-01-12,2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC,2022,Hace poco
0,2023-01-12,0,El Hierro,0,3,Valverde,26871.00,11147.0,SCTF,2023,Hace poco
3,2023-01-01,3,La Gomera,3,6,San Sebastián de La Gomera,36976.00,21678.0,SCTF,2023,Hace poco
5,2020-01-12,5,La Palma,5,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF,2020,Hace bastante
6,2022-01-12,6,Tenerife,6,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF,2022,Hace poco

In [31]:
df.set_index("Isla")
df["Población"].idxmax()
print(df.loc[df["Población"].idxmax()])
df.reset_index()

Fvisita          2022-01-12 00:00:00
Isla                        Tenerife
Municipios                        31
Capital       Santa Cruz de Tenerife
Área                        203438.0
Población                   928604.0
Provincia                       SCTF
year                            2022
Vreciente                  Hace poco
Name: 6, dtype: object

,index,Fvisita,Isla,Municipios,Capital,Área,Población,Provincia,year,Vreciente
0,0,2023-01-12,El Hierro,3,Valverde,26871.00,11147.0,SCTF,2023,Hace poco
1,1,2023-01-13,Fuerteventura,6,Puerto del Rosario,1665.74,119732.0,LPGC,2023,Hace poco
2,2,2022-01-12,Gran Canaria,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC,2022,Hace poco
3,3,2023-01-01,La Gomera,6,San Sebastián de La Gomera,36976.00,21678.0,SCTF,2023,Hace poco
4,4,2023-12-12,Lanzarote,7,Arrecife,888.07,155812.0,LPGC,2023,Hace poco
5,5,2020-01-12,La Palma,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF,2020,Hace bastante
6,6,2022-01-12,Tenerife,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF,2022,Hace poco

In [29]:
df
#df = df.drop(columns=["level_0", "index"])
df
df.reset_index()
df

,Fvisita,Isla,Municipios,Capital,Área,Población,Provincia,year,Vreciente
0,2023-01-12,El Hierro,3,Valverde,26871.00,11147.0,SCTF,2023,Hace poco
1,2023-01-13,Fuerteventura,6,Puerto del Rosario,1665.74,119732.0,LPGC,2023,Hace poco
2,2022-01-12,Gran Canaria,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC,2022,Hace poco
3,2023-01-01,La Gomera,6,San Sebastián de La Gomera,36976.00,21678.0,SCTF,2023,Hace poco
4,2023-12-12,Lanzarote,7,Arrecife,888.07,155812.0,LPGC,2023,Hace poco
5,2020-01-12,La Palma,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF,2020,Hace bastante
6,2022-01-12,Tenerife,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF,2022,Hace poco

In [32]:
df["Población"].nlargest(3)
df.nlargest(3, "Población")
df.set_index("Isla")

df.reset_index()

,index,Fvisita,Isla,Municipios,Capital,Área,Población,Provincia,year,Vreciente
0,0,2023-01-12,El Hierro,3,Valverde,26871.00,11147.0,SCTF,2023,Hace poco
1,1,2023-01-13,Fuerteventura,6,Puerto del Rosario,1665.74,119732.0,LPGC,2023,Hace poco
2,2,2022-01-12,Gran Canaria,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC,2022,Hace poco
3,3,2023-01-01,La Gomera,6,San Sebastián de La Gomera,36976.00,21678.0,SCTF,2023,Hace poco
4,4,2023-12-12,Lanzarote,7,Arrecife,888.07,155812.0,LPGC,2023,Hace poco
5,5,2020-01-12,La Palma,14,Santa Cruz de La Palma,70832.00,83458.0,SCTF,2020,Hace bastante
6,6,2022-01-12,Tenerife,31,Santa Cruz de Tenerife,203438.00,928604.0,SCTF,2022,Hace poco

In [33]:
# esto es una serie de panda
df["Población"] / df["Área"]
(df["Población"] / df["Área"]).nlargest(3).index
df.iloc[(df["Población"] / df["Área"]).nlargest(3).index]

#también valdría
idx = (df["Población"] / df["Área"]).sort_values(ascending=False).index
df.iloc[idx[:3]]

,Fvisita,Isla,Municipios,Capital,Área,Población,Provincia,year,Vreciente
4,2023-12-12,Lanzarote,7,Arrecife,888.07,155812.0,LPGC,2023,Hace poco
1,2023-01-13,Fuerteventura,6,Puerto del Rosario,1665.74,119732.0,LPGC,2023,Hace poco
2,2022-01-12,Gran Canaria,21,Las Palmas de Gran Canaria,156010.00,855521.0,LPGC,2022,Hace poco

In [34]:
data = [[1, 2,10], [3, np.nan, 11], [5, 6, 12]]
df = pd.DataFrame(data, columns=[ "A" , "B", "C" ])
print(df)

   A    B   C
0  1  2.0  10
1  3  NaN  11
2  5  6.0  12

In [35]:
df.isna()
df.dropna()
df.dropna(axis = 1)
df.fillna(1000)
df.interpolate(axis = 1)
df.interpolate()
df.index = [100,102,101]

In [36]:
df.sort_index()

     A    B   C
100  1  2.0  10
101  5  6.0  12
102  3  NaN  11

In [37]:
df.sort_index().interpolate()

     A    B   C
100  1  2.0  10
101  5  6.0  12
102  3  6.0  11

In [38]:
df

     A    B   C
100  1  2.0  10
102  3  NaN  11
101  5  6.0  12