In [315]:
import sys
try:
  import google.colab
  IN_COLAB = True
except:
  IN_COLAB = False

if IN_COLAB:
    # montar el drive, que es donde tenemos el dataset
    from google.colab import drive 
    drive.mount("/content/drive")
    data_dir = "/content/drive/MyDrive/Colab Notebooks/pandas/"  
    sys.path.append(data_dir)
else:
    import os
    data_dir = "data/"

In [316]:
import pandas as pd
import numpy as np

In [317]:
filename = data_dir + "canarias.csv"
df = pd.read_csv(filename, delimiter="\t", decimal=",")
df

                Isla                     Capital     Área  Población
0          El Hierro                    Valverde   268.71      11147
1  Fuerteventuranota          Puerto del Rosario  1665.74     119732
2       Gran Canaria  Las Palmas de Gran Canaria  1560.10     855521
3          La Gomera  San Sebastián de La Gomera   369.76      21678
4      Lanzarotenota                    Arrecife   888.07     155812
5           La Palma      Santa Cruz de La Palma   708.32      83458
6           Tenerife      Santa Cruz de Tenerife  2034.38     928604

In [318]:
import requests

url = 'https://es.wikipedia.org/wiki/Canarias'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

dfs = pd.read_html(r.text, match='Capital')
len(dfs)

/tmp/ipykernel_10939/4026687738.py:12: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dfs = pd.read_html(r.text, match='Capital')

2

In [319]:
df = dfs[1]
df

,Isla (excepto La Graciosa),Bandera,Escudo,Municipios,Capital,Área (km²),Población (2022)[22]​
0,El Hierro,NaN,NaN,3,Valverde,26871,11 423
1,Fuerteventura[nota 11]​,NaN,NaN,6,Puerto del Rosario,"1665,74[nota 12]​",120 021
2,Gran Canaria,NaN,NaN,21,Las Palmas de Gran Canaria,156010,853 262
3,La Gomera,NaN,NaN,6,San Sebastián de La Gomera,36976,21 798
4,Lanzarote[nota 13]​,NaN,NaN,7,Arrecife,"888,07[nota 14]​",156 112[nota 15]​
5,La Palma,NaN,NaN,14,Santa Cruz de La Palma,70832,83 439
6,Tenerife,NaN,NaN,31,Santa Cruz de Tenerife,203438,931 646

In [320]:
df = df.drop(columns = ['Bandera', 'Escudo']) # Does not do inplace supression
df.columns = ['Isla', 'Municipios', 'Capital', 'Área', 'Población']
df["Área"] = df["Área"].str.replace(",", ".").str.extract(r'(^[.0-9]+)')
df['Población'] = df['Población'].str.replace('\xa0', '').str.extract(r'(^[.0-9]+)')
df["Isla"] = df["Isla"].str.extract(r'([^\[]*)')
df["Provincia"] = ["SCTF", "LPGC", "LPGC", "SCTF", "LPGC", "SCTF", "SCTF"]
df

,Isla,Municipios,Capital,Área,Población,Provincia
0,El Hierro,3,Valverde,26871,11423,SCTF
1,Fuerteventura,6,Puerto del Rosario,1665.74,120021,LPGC
2,Gran Canaria,21,Las Palmas de Gran Canaria,156010,853262,LPGC
3,La Gomera,6,San Sebastián de La Gomera,36976,21798,SCTF
4,Lanzarote,7,Arrecife,888.07,156112,LPGC
5,La Palma,14,Santa Cruz de La Palma,70832,83439,SCTF
6,Tenerife,31,Santa Cruz de Tenerife,203438,931646,SCTF

In [321]:
df["Isla"]

0        El Hierro
1    Fuerteventura
2     Gran Canaria
3        La Gomera
4        Lanzarote
5         La Palma
6         Tenerife
Name: Isla, dtype: object

In [322]:
df = df.reset_index()
df

,index,Isla,Municipios,Capital,Área,Población,Provincia
0,0,El Hierro,3,Valverde,26871,11423,SCTF
1,1,Fuerteventura,6,Puerto del Rosario,1665.74,120021,LPGC
2,2,Gran Canaria,21,Las Palmas de Gran Canaria,156010,853262,LPGC
3,3,La Gomera,6,San Sebastián de La Gomera,36976,21798,SCTF
4,4,Lanzarote,7,Arrecife,888.07,156112,LPGC
5,5,La Palma,14,Santa Cruz de La Palma,70832,83439,SCTF
6,6,Tenerife,31,Santa Cruz de Tenerife,203438,931646,SCTF

In [323]:
df = df.set_index("Isla")
df.loc["Gran Canaria":"La Palma", "Capital":"Población"]
df

,index,Municipios,Capital,Área,Población,Provincia
Isla,,,,,,
El Hierro,0,3,Valverde,26871,11423,SCTF
Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC
Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC
La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF
Lanzarote,4,7,Arrecife,888.07,156112,LPGC
La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF
Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF

In [324]:
df.loc["Gran Canaria":"La Palma", "Capital":"Población"]

                                 Capital    Área Población
Isla
Gran Canaria  Las Palmas de Gran Canaria  156010    853262
La Gomera     San Sebastián de La Gomera   36976     21798
Lanzarote                       Arrecife  888.07    156112
La Palma          Santa Cruz de La Palma   70832     83439

In [325]:
df.iloc[0:3, 0:2]

               index  Municipios
Isla
El Hierro          0           3
Fuerteventura      1           6
Gran Canaria       2          21

In [326]:
df = df.reset_index()
df

,Isla,index,Municipios,Capital,Área,Población,Provincia
0,El Hierro,0,3,Valverde,26871,11423,SCTF
1,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC
3,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF
4,Lanzarote,4,7,Arrecife,888.07,156112,LPGC
5,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF
6,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF

In [327]:
mascara = df["Municipios"] > 6
mascara

0    False
1    False
2     True
3    False
4     True
5     True
6     True
Name: Municipios, dtype: bool

In [328]:
df[mascara]
df[df["Municipios"] > 6]
df.query("Municipios > 6")

,Isla,index,Municipios,Capital,Área,Población,Provincia
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC
4,Lanzarote,4,7,Arrecife,888.07,156112,LPGC
5,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF
6,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF

In [329]:
mascara = df["Provincia"].isin(["SCTF"])
mascara

0     True
1    False
2    False
3     True
4    False
5     True
6     True
Name: Provincia, dtype: bool

In [330]:
df.loc['pepe'] = ["ibiza", 5, 3, "asd", "asd", 7 , "????"]
df

,Isla,index,Municipios,Capital,Área,Población,Provincia
0,El Hierro,0,3,Valverde,26871,11423,SCTF
1,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC
3,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF
4,Lanzarote,4,7,Arrecife,888.07,156112,LPGC
5,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF
6,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF
pepe,ibiza,5,3,asd,asd,7,????

In [331]:
df = df.drop(index="pepe")
df

,Isla,index,Municipios,Capital,Área,Población,Provincia
0,El Hierro,0,3,Valverde,26871,11423,SCTF
1,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC
3,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF
4,Lanzarote,4,7,Arrecife,888.07,156112,LPGC
5,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF
6,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF

In [332]:
df["viento"] = [1,2,3,4,5,6,7]
df

,Isla,index,Municipios,Capital,Área,Población,Provincia,viento
0,El Hierro,0,3,Valverde,26871,11423,SCTF,1
1,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,3
3,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF,4
4,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,5
5,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF,6
6,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,7

In [333]:
df = df.drop(columns="viento")
df

,Isla,index,Municipios,Capital,Área,Población,Provincia
0,El Hierro,0,3,Valverde,26871,11423,SCTF
1,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC
3,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF
4,Lanzarote,4,7,Arrecife,888.07,156112,LPGC
5,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF
6,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF

In [334]:
import datetime
df["Fvisita"] = ["1/12/2023","13/1/2023","1/12/2022","1/1/2023","12/12/2023","1/12/2020","1/12/2022",]
df

,Isla,index,Municipios,Capital,Área,Población,Provincia,Fvisita
0,El Hierro,0,3,Valverde,26871,11423,SCTF,1/12/2023
1,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,13/1/2023
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,1/12/2022
3,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF,1/1/2023
4,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,12/12/2023
5,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF,1/12/2020
6,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,1/12/2022

In [335]:
df["Fvisita"]=pd.to_datetime(df["Fvisita"], format='%d/%m/%Y')
df

,Isla,index,Municipios,Capital,Área,Población,Provincia,Fvisita
0,El Hierro,0,3,Valverde,26871,11423,SCTF,2023-12-01
1,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023-01-13
2,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022-12-01
3,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF,2023-01-01
4,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,2023-12-12
5,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF,2020-12-01
6,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022-12-01

In [336]:
df["year"] = df["Fvisita"].dt.year
df[df["Fvisita"].dt.month == 1]

,Isla,index,Municipios,Capital,Área,Población,Provincia,Fvisita,year
1,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023-01-13,2023
3,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF,2023-01-01,2023

In [337]:
# Se carga el indice actual y lo sustituye
df = df.set_index("Fvisita")
df.loc["2022"]

,Isla,index,Municipios,Capital,Área,Población,Provincia,year
Fvisita,,,,,,,,
2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022
2022-12-01,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022

In [338]:
# Hay que ordenarlo previamente porque sino genera un error
df.sort_index().loc["2020":"2022"]

,Isla,index,Municipios,Capital,Área,Población,Provincia,year
Fvisita,,,,,,,,
2020-12-01,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF,2020
2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022
2022-12-01,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022

In [339]:
# Recupera la columna index como índice y Fvisita desaparece
# df = df.set_index('index')
# Crea un nuevo índice y Fvisita vuelve a ser una columna normal
df = df.reset_index()
df

,Fvisita,Isla,index,Municipios,Capital,Área,Población,Provincia,year
0,2023-12-01,El Hierro,0,3,Valverde,26871,11423,SCTF,2023
1,2023-01-13,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023
2,2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022
3,2023-01-01,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF,2023
4,2023-12-12,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,2023
5,2020-12-01,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF,2020
6,2022-12-01,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022

In [340]:
mask = pd.to_datetime("today").year - df["Fvisita"].dt.year < 5
df.loc[mask, "Vreciente"] = "Hace poco"
mask = ~mask
df.loc[mask, "Vreciente"] = "Hace bastante"
df

,Fvisita,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
0,2023-12-01,El Hierro,0,3,Valverde,26871,11423,SCTF,2023,Hace poco
1,2023-01-13,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023,Hace poco
2,2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022,Hace poco
3,2023-01-01,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF,2023,Hace poco
4,2023-12-12,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,2023,Hace poco
5,2020-12-01,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF,2020,Hace bastante
6,2022-12-01,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022,Hace poco

In [341]:
df = df.drop("Vreciente", axis=1)
mask1 = pd.to_datetime("today").year - df["Fvisita"].dt.year < 5
mask2 = ~mask1
df["Vreciente"] = np.select([mask1, mask2], ["Hace poco", "Hace bastante"])
df

,Fvisita,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
0,2023-12-01,El Hierro,0,3,Valverde,26871,11423,SCTF,2023,Hace poco
1,2023-01-13,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023,Hace poco
2,2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022,Hace poco
3,2023-01-01,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF,2023,Hace poco
4,2023-12-12,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,2023,Hace poco
5,2020-12-01,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF,2020,Hace bastante
6,2022-12-01,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022,Hace poco

In [343]:
from pandas.api.types import CategoricalDtype
df["Vreciente"].astype("category")
df

,Fvisita,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
0,2023-12-01,El Hierro,0,3,Valverde,26871,11423,SCTF,2023,Hace poco
1,2023-01-13,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023,Hace poco
2,2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022,Hace poco
3,2023-01-01,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF,2023,Hace poco
4,2023-12-12,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,2023,Hace poco
5,2020-12-01,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF,2020,Hace bastante
6,2022-12-01,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022,Hace poco

In [344]:
visita_cat = CategoricalDtype(categories = ['Nunca', 'Hace bastante', 'Hace poco'], ordered=True)
df["Vreciente"].astype(visita_cat)
df

,Fvisita,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
0,2023-12-01,El Hierro,0,3,Valverde,26871,11423,SCTF,2023,Hace poco
1,2023-01-13,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023,Hace poco
2,2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022,Hace poco
3,2023-01-01,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF,2023,Hace poco
4,2023-12-12,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,2023,Hace poco
5,2020-12-01,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF,2020,Hace bastante
6,2022-12-01,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022,Hace poco

In [345]:
df['Población'] = df['Población'].astype(int)
pd.cut(df["Población"], 3)

0    (10502.777, 318164.0]
1    (10502.777, 318164.0]
2     (624905.0, 931646.0]
3    (10502.777, 318164.0]
4    (10502.777, 318164.0]
5    (10502.777, 318164.0]
6     (624905.0, 931646.0]
Name: Población, dtype: category
Categories (3, interval[float64, right]): [(10502.777, 318164.0] < (318164.0, 624905.0] < (624905.0, 931646.0]]

In [346]:
pd.cut(df["Población"], 3, labels=["Poca", "Media", "Bastante"])

0        Poca
1        Poca
2    Bastante
3        Poca
4        Poca
5        Poca
6    Bastante
Name: Población, dtype: category
Categories (3, object): ['Poca' < 'Media' < 'Bastante']

In [347]:
df.sort_values(by=["Provincia" , "Población" ])

,Fvisita,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
1,2023-01-13,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023,Hace poco
4,2023-12-12,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,2023,Hace poco
2,2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022,Hace poco
0,2023-12-01,El Hierro,0,3,Valverde,26871,11423,SCTF,2023,Hace poco
3,2023-01-01,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF,2023,Hace poco
5,2020-12-01,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF,2020,Hace bastante
6,2022-12-01,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022,Hace poco

In [348]:
df.set_index("Isla")

,Fvisita,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
Isla,,,,,,,,,
El Hierro,2023-12-01,0,3,Valverde,26871,11423,SCTF,2023,Hace poco
Fuerteventura,2023-01-13,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023,Hace poco
Gran Canaria,2022-12-01,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022,Hace poco
La Gomera,2023-01-01,3,6,San Sebastián de La Gomera,36976,21798,SCTF,2023,Hace poco
Lanzarote,2023-12-12,4,7,Arrecife,888.07,156112,LPGC,2023,Hace poco
La Palma,2020-12-01,5,14,Santa Cruz de La Palma,70832,83439,SCTF,2020,Hace bastante
Tenerife,2022-12-01,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022,Hace poco

In [349]:
# idxmax devuelve una serie con el indice del valor máximo para cada columna
df["Población"].idxmax()

6

In [350]:
print(df.loc[df["Población"].idxmax()])
df.reset_index()

Fvisita          2022-12-01 00:00:00
Isla                        Tenerife
index                              6
Municipios                        31
Capital       Santa Cruz de Tenerife
Área                          203438
Población                     931646
Provincia                       SCTF
year                            2022
Vreciente                  Hace poco
Name: 6, dtype: object

,level_0,Fvisita,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
0,0,2023-12-01,El Hierro,0,3,Valverde,26871,11423,SCTF,2023,Hace poco
1,1,2023-01-13,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023,Hace poco
2,2,2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022,Hace poco
3,3,2023-01-01,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF,2023,Hace poco
4,4,2023-12-12,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,2023,Hace poco
5,5,2020-12-01,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF,2020,Hace bastante
6,6,2022-12-01,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022,Hace poco

In [ ]:
#df = df.drop(columns=["level_0", "index"])
df

In [352]:
df.reset_index()
df

,Fvisita,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
0,2023-12-01,El Hierro,0,3,Valverde,26871,11423,SCTF,2023,Hace poco
1,2023-01-13,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023,Hace poco
2,2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022,Hace poco
3,2023-01-01,La Gomera,3,6,San Sebastián de La Gomera,36976,21798,SCTF,2023,Hace poco
4,2023-12-12,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,2023,Hace poco
5,2020-12-01,La Palma,5,14,Santa Cruz de La Palma,70832,83439,SCTF,2020,Hace bastante
6,2022-12-01,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022,Hace poco

In [353]:
df["Población"].nlargest(3)
df.nlargest(3, "Población")

,Fvisita,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
6,2022-12-01,Tenerife,6,31,Santa Cruz de Tenerife,203438,931646,SCTF,2022,Hace poco
2,2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010,853262,LPGC,2022,Hace poco
4,2023-12-12,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,2023,Hace poco

In [354]:
# esto es una serie de panda
df['Área'] = df['Área'].astype(float)
df["Población"] / df["Área"]
(df["Población"] / df["Área"]).nlargest(3).index
df.iloc[(df["Población"] / df["Área"]).nlargest(3).index]

,Fvisita,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
4,2023-12-12,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,2023,Hace poco
1,2023-01-13,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023,Hace poco
2,2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010.00,853262,LPGC,2022,Hace poco

In [355]:
#también valdría
idx = (df["Población"] / df["Área"]).sort_values(ascending=False).index
df.iloc[idx[:3]]

,Fvisita,Isla,index,Municipios,Capital,Área,Población,Provincia,year,Vreciente
4,2023-12-12,Lanzarote,4,7,Arrecife,888.07,156112,LPGC,2023,Hace poco
1,2023-01-13,Fuerteventura,1,6,Puerto del Rosario,1665.74,120021,LPGC,2023,Hace poco
2,2022-12-01,Gran Canaria,2,21,Las Palmas de Gran Canaria,156010.00,853262,LPGC,2022,Hace poco

In [356]:
data = [[1, 2,10], [3, np.nan, 11], [5, 6, 12]]
df = pd.DataFrame(data, columns=[ "A" , "B", "C" ])
print(df)

   A    B   C
0  1  2.0  10
1  3  NaN  11
2  5  6.0  12

In [357]:
df.isna()

       A      B      C
0  False  False  False
1  False   True  False
2  False  False  False

In [358]:
df.dropna()

   A    B   C
0  1  2.0  10
2  5  6.0  12

In [359]:
df.dropna(axis = 1)

   A   C
0  1  10
1  3  11
2  5  12

In [360]:
df.fillna(1000)

   A       B   C
0  1     2.0  10
1  3  1000.0  11
2  5     6.0  12

In [361]:
df.interpolate(axis = 1)

     A    B     C
0  1.0  2.0  10.0
1  3.0  7.0  11.0
2  5.0  6.0  12.0

In [362]:
df.interpolate()

   A    B   C
0  1  2.0  10
1  3  4.0  11
2  5  6.0  12

In [363]:
df.index = [100,102,101]
df.sort_index()

     A    B   C
100  1  2.0  10
101  5  6.0  12
102  3  NaN  11

In [258]:
df.sort_index().interpolate()

     A    B   C
100  1  2.0  10
101  5  6.0  12
102  3  6.0  11

In [259]:
df

     A    B   C
100  1  2.0  10
102  3  NaN  11
101  5  6.0  12